DRMLKE_ENV=dev
DRMLKE_NODE_NAME=local-dev
DRMLKE_API_PORT=8780
DRMLKE_PROVIDER_PORT=8781
DRMLKE_STORAGE_ROOT=.local/drmlke
DRMLKE_SQLITE_PATH=.local/drmlke/state/drmlke.sqlite
DRMLKE_LIVE_TRADING_ENABLED=false
DRMLKE_WITHDRAWALS_ENABLED=false
DRMLKE_MODE=paper
DRMLKE_FAMILY_WORKSPACE=drmlke-family
